<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "text-input" %>
  </div>

  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "text-input" %>
  </div>

  <div class="row">
    <%= f.label :alias %>
    <%= f.text_field :alias, :class => "text-input" %>
  </div>

  <div class="row">
    <%= f.label :password %> <i class="form-message">(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, :autocomplete => "off", :class => "text-input" %>
  </div>

  <div class="row">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "text-input" %>
  </div>

  <div class="row">
    <%= f.label :current_password %> <i class="form-message">(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, :class => "text-input" %>
  </div>

  <div class="row">
    <%= f.submit "Update", :class => "field--button" %>
  </div>

  <div class="row">
    <p class="small">
      Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.<br>
      <%= link_to "Back", :back %>
    </p>
  </div>
<% end %>
