<h3>Manage Texts</h3>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Authors</th>
    <th>Source</th>
    <th>Part</th>
    <th>Edition</th>
    <th></th>
    <th></th>
  </tr>

<% @texts.each do |text| %>
  <tr>
    <td><%= link_to text.title, admin_text_path(text) %></td>
    <td><%= text.authors.collect { |author| author.name }.join(', ') %></td>
    <td style="white-space: nowrap"><%= text.source_file %></td>
    <td><%= text.part.label rescue '' %></td>
    <td><%= text.edition.label rescue '' %></td>
    <td><%= link_to 'Edit', edit_admin_text_path(text), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', admin_text_path(text), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
  </tr>
<% end %>
</table>
