<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'text-input' %>
  </div>

  <div class="row">
    <%= f.submit "Send me reset password instructions", :class => 'field--button' %>
  </div>
  <div class="row">
    <p class="small">
      <%= render :partial => "devise/shared/links" %>
    </p>
  </div>
<% end %>
