<header class="home-header">
	<%= link_to image_tag("logo-didh-small.png", :class => "logo-didh"), {controller: '/pages', action: 'index'} %>
	<ul class="nav-interior">
		<li class="active bold home-link">
			<%= link_to 'Debates in the Digital Humanities', {controller: '/pages', action: 'index'}%>
		</li>
		<li class="toc-tab-trigger">
			<% if params[:controller] == 'debates' %>
				<a href="#" data-tab-toggle-trigger>Contents</a>
			<% else %>
				<%= link_to 'Contents', {controller: '/debates', action: 'index', data: 'toc-open'}%>
			<% end %>
		</li>
		<li class="">
			<%= link_to 'About the Series', :controller => '/pages', :action => 'about' %>
		</li>
	</ul>
	<%= params[:data] %>
</header>