<header class="about-header">
  <ul class="nav-interior">
    <li class="back-link">
      <a href="/">Debates in the Digital Humanities</a>
    </li>
    <li class="<%= 'active' if params[:action] == 'about' %>">
      <%= link_to 'About', :controller => '/pages', :action => 'about' %>
    </li>
    <li class="<%= 'active' if params[:action] == 'news' %>">
      <%= link_to 'News', :controller => '/pages', :action => 'news' %>
    </li>
    <li class="<%= 'active' if params[:action] == 'cfps' %>">
      <%= link_to 'CFPs', :controller => '/pages', :action => 'cfps' %>
    </li>
    <% if params[:action] == 'about' %>
      <li class="column-six-fifths bold">Print Editions</li>
    <% end %>
  </ul>
</header>