<header class="default-header">
  <%= link_to ' ', { controller: '/pages', action: 'index' }, class: 'logo-didh' %>
  <ul class="nav-interior">
    <!-- <li class="bold home-link <%= 'active' if params[:action] == 'index' && params[:controller] == 'pages' %>">
      <%= link_to 'Debates in the Digital Humanities', {controller: '/pages', action: 'index'}%>
    </li> -->
    <li class="toc-tab-trigger">
      <% if params[:controller] == 'debates' %>
        <a href="#" data-tab-toggle-trigger>Contents</a>
      <% else %>
        <%= link_to 'Contents', {controller: '/debates', action: 'index', data: 'toc-open'}%>
      <% end %>
    </li>
    <li class="<%= 'active' if params[:action] == 'about' %>">
      <%= link_to 'About', :controller => '/pages', :action => 'about' %>
    </li>
    <li class="<%= 'active' if params[:action] == 'news' %>">
      <%= link_to 'News', :controller => '/pages', :action => 'news' %>
    </li>
    <li class="<%= 'active' if params[:action] == 'cfps' %>">
      <%= link_to 'CFPs', :controller => '/pages', :action => 'cfps' %>
    </li>
  </ul>
</header>
