<h1 class="page-title">About</h1>
<ul class="contents-list">
	<li><a href="#whats-new">What's New</a></li>
	<li><a href="#editions">Editions</a></li>
	<li><a href="#contribute">Contribute</a></li>
	<li><a href="#credits">Credits</a></li>
	<li><a href="#contact-us">Contact Us</a></li>
</ul>
<div class="columns">
	<section class="column-single">
		<h2 class="column--heading" id="whats-new">What's New</h2>
		<p>We’re delighted to <a href="/news/#2013-1-3-welcome">announce</a> the debut of the open-access edition of Debates in the Digital Humanities.</p>

		<h2 class="column--heading" id="editions">Editions</h2>
		<ul class="contents-list">
			<li><a href="#2012-a">2012 Print Edition</a></li>
			<li><a href="#2013-a">2013 Open-Access Edition</a></li>
			<li><a href="#2013-b">2013 Expanded Open-Access Edition (<em>forthcoming</em>)</a></li>
		</ul>
		<h3 class="column--subheading" id="2012-a">2012 Print Edition</h3>
		<p><em>Debates in the Digital Humanities</em>, an edited collection featuring contributions from over forty DH scholars and practitioners, straddles the line between print and digital publication. The first edition of the printed text, which was published by the University of Minnesota Press in January 2012, is composed predominately of essays but also incorporates a variety of web-based materials such as blog posts, tweets, and wiki pages. The printed book was, from the earliest stages of the publication process, intertwined with digital platforms: following the model of peer-to-peer review described by Kathleen Fitzpatrick in <em>Planned Obsolescence</em>, all essays in the book were part of a semi-public, web-based review process that mixed new forms of peer-to-peer review with more traditional models of publisher-based blind peer review. </p>
		<p>In an attempt to move the university-press based print publication process along at a rapid pace that would allow <em>Debates</em> to address current conversations in a rapidly moving field, the book went from initial conception and solicitation of essays to printed publication in the space of a single calendar year, a timeline that involved substantial efforts from contributors and from the Press. The book was conceived of less as an attempt to create a monumental, standard reference guide for DH than as a snapshot of current conversations within it a key moment of growth, with the primary purpose of introducing DH to scholars unfamiliar with its projects, practitioners, and debates.</p>
		<p>The print edition of the book has gone through numerous printings and has been lauded by reviewers as a key text in the emerging literature on the digital humanities.</p>
		<p><a href="/book">Find out more about the 2012 Print Edition of Debates in the Digital Humanities.</a></p>
		<h3 class="column--subheading" id="2013-a">2013 Open-Access Edition</h3>
		<p>Published in January 2013, the open-access edition of <em>Debates in the Digital Humanities</em> marked not just the opening up of the printed text, but also the debut of a custom-built social reading platform. Going beyond the basic task of making the contents of the printed edition accessible, the OA platform makes the text interactive, with key features that allow readers to interact with the text by marking passages as interesting and adding terms to a crowdsourced index.</p>
		<p>The OA platform marks a significant shift for <em>Debates in the Digital Humanities</em> in that it moves it from a single printed edition of collected essays to an expanded, ongoing digital publication stream that the Press plans to draw upon to publish both future editions of collection and other publications on more focused DH topics. While the first iteration of the digital platform contains only the content of the printed text, an expanded edition with new additions will appear in March 2013. </p>
		<p>To learn more about the 2013 Open Access Edition of <em>Debates in the Digital Humanities</em>, please visit our <a href="/news/#2013-1-3-welcome">launch post on the News page</a>.</p>
		<h3 class="column--subheading" id="2013-b">2013 Expanded Open-Access Edition (<em>forthcoming</em>)</h3>
		<p><em>Debates in the Digital Humanities</em> will be expanded twice in 2013 so that the collection will remain current and continue to track new debates in the field. New clusters of essays are currently planned for March 2013 and early Winter 2013. For more on the OA Expanded edition, please see our <a href="/news/#2013-1-3-expanded-edition">related post on the News page</a> and please stay tuned for a forthcoming CFP.</p>

		<h2 class="column--heading" id="contribute">Contribute</h2>
		<p>Scholars interested in contributing essays or blog posts to the collection should stay tuned for our forthcoming CFP.</p>
		<p>Digital Humanities practitioners interested in contributing ideas or code to the project are encouraged to contact us through the <a href="#contact-us">contact form</a> below and/or to be begin working with our code on <a href="https://github.com/castiron/didh">Github</a>. We welcome your ideas for the project!</p>

		<h2 class="column--heading" id="credits">Credits</h2>
		<p>[TODO enter content] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt quae eaque veniam corporis expedita aperiam mollitia at sapiente eos.</p>

		<h2 class="column--heading" id="contact-us">Contact Us</h2>
		<p>Please use the form below to contact the editorial and development teams with your feedback, questions, and ideas:</p>
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, :class => "flash #{key}") %>
		<% end %>

		<%= form_for @message, :url => about_path do |form| %>
			<div class="row">
				<div class="field-half">
					<%= form.label 'name:', :class => "field--label" %><%= form.text_field :name, :class => "field--input" %>
				</div>

				<div class="field-half">
					<%= form.label 'email:', :class => "field--label" %><%= form.text_field :email, :class => "field--input"  %>
				</div>
			</div>

			<div class="row">
				<%= form.label 'subject:', :class => "field--label" %><%= form.text_field :subject, :class => "field--input" %>
			</div>

			<div class="row">
				<%= form.label 'body:', :class => "field--label" %><%= form.text_area :body, :class => "field--textarea" %>
			</div>

			<div class="row row-submit">
				<%= form.submit "Send", :class => "field--button" %>
			</div>

		<% end %>
	</section>
</div>