<div class="columns">
  <section class="column-single">

    <h2 class="column--heading" id="contact-us">Sign in</h2>
    <p>Please enter your username and password below.</p>


    <%= form_for(resource, :as => resource_name, :class => 'new_message', :url => session_path(resource_name)) do |f| %>

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "flash flash-#{name}"%>
      <% end -%>

      <div class="row">
          <%= f.label :email, :class => "field--label"%>
          <%= f.email_field :email, :class => "field--input" %>
        </div>

        <div class="row">
          <%= f.label :password, :class => "field--label" %>
          <%= f.password_field :password, :class => "field--input" %>
        </div>

        <div class="row">
          <%= f.submit "Sign in", :class => "field--button" %>
        </div>
    <% end %>
  </section>
</div>

