<div class="columns">
  <section class="column-single">

    <h2 class="column--heading" id="contact-us">Sign in</h2>
    <p>Please enter your username and password below.</p>


    <%= form_for(resource, :as => resource_name, :class => 'new_message', :url => session_path(resource_name)) do |f| %>

      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "flash flash-#{name}"%>
      <% end -%>

      <div class="row">
          <%= f.label :email %>
          <%= f.email_field :email, :class => "text-input" %>
        </div>

        <div class="row">
          <%= f.label :password %>
          <%= f.password_field :password, :class => "text-input" %>
        </div>

        <div class="row">
          <%= f.submit "Sign in", :class => "field--button" %>
        </div>

        <div class="row">
          <p class="small">
            <%= render :partial => "devise/shared/links" %>
          </p>
        </div>

    <% end %>

  </section>
</div>

