<ul class="hud--list">
	<li class="hud--title"><%= text.get('title') %></li>
	<li><span class="hud--author"><%= text.getAuthorsList() %></span></li>
	<li><span class="hud--details"><%= text.get('edition') %></span></li>
	<li class="hud--user js-open-authentication">
    <% if (currentUser != null) { %>
		<em>logged in as</em> <strong><%= currentUser.email %></strong>
	  <% } else { %>
		<strong >Log in</strong>
		<% } %>
	</li>
</ul>
<div style="bottom: 0" class="authentication js-authentication">
  <% if (currentUser != null) { %>
	<!-- If user is logged in -->
	<span class="authentication--label right">You've made<br> 211 comments.</span>
	<ul>
		<li>
      <a class="white-button" data-method="delete" href="/users/sign_out/?redirect=/debates/text/<%= text.id %>">Log off</a>
      <a class="white-ex-button left js-close-authentication" href="#">Close</a>
		</li>
	</ul>
  <% } else { %>
	<form method="post" action="/users/sign_in">
		<input name="user[email]" class="text-input" type="text">
		<label class="authentication--label">email</label>
		<input name="user[password]" class="text-input" type="password">
    <input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr('content') %>"/>
    <input type="hidden" name="redirect" value="/debates/text/<%= text.id %>" />
		<label class="authentication--label">password</label>
		<a class="white-ex-button left js-close-authentication" href="#">Close</a>
		<input class="white-button right" type="submit" value="login">
	</form>
	<% } %>
</div>
