<div class="chapter-section ">
	<h1 class="chapter-heading"><%= text.get('title') %></h1>
	<h3 class="chapter-byline"><%= text.getAuthorsList() %></h3>
</div>

<div class="chapter-section chapter-body">
	<%= text.get('body') %>
</div>

<div class="chapter-section chapter-notes">
	<h2 class="chapter-heading">Notes</h2>
	<%= text.get('notes') %>
</div>

<div class="chapter-section chapter-bibliography">
	<h2 class="chapter-heading">Bibliography</h2>
	<%= text.get('bibliography') %>
</div>
