<li class="level-0">
	<header class="js-content-nav--open-toggle pane--header">
		<h2 class="pane--title pane-bottom--title">Table of Contents</h2>
	</header>
	<section class="pane--content">
		<ul class="nav-index">
			<% parts.each( function(part) { %>
				<li class="nav-item-part nav-item-part-<%= part.get('id') %>">
					<a href="/debates/part/<%= part.get('id') %>"><%= part.get('label') %></a>
				</li>
			<% }); %>
		</ul>
	</section>
</li>
<li class="level-1">
	<header class="js-content-nav--open-toggle pane--header">
		<h2 class="pane--title pane-bottom--title">Articles</h2>
	</header>
	<section class="pane--content pane--vertical-stage">
		<div class="parts">
			<% parts.each( function(part) { %>
			<div id="toc-part-<%= part.get('id') %>" class="part">
				<% cols = 0; %>
				<% _.each(texts.byPartGrouped(part.get('id'), 5), function(textGroup) { %>
					<% cols++ %>
					<ul class="nav-index nav-index-col">
						<% _.each(textGroup, function(text) { %>
							<li>
								<% if(text.get('is_static') == true) { %>
								<a class="" href="/static/debates/text/<%= text.get('id') %>">
								<% } else { %>
								<a class="" href="/debates/text/<%= text.get('id') %>">
								<% } %>
								<span class="title"><%= text.get('title') %></span>
								<span class="author"><%= text.getAuthorsList() %></span>
								</a>
							</li>
						<% }); %>
					</ul>
				<% }); %>
				<% if(cols == 1) { %>
					<ul class="nav-index nav-index-col"><!-- a column shim --></ul>
				<% } %>
			</div>
			<% }); %>
		<div class="parts">
	</section>
</li>