<h3>Manage Texts</h3>

<table class="table">
  <tr>
    <th>Body</th>
    <th>Pub date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @texts.each do |text| %>
  <tr>
    <td><%= text.body %></td>
    <td><%= text.pub_date %></td>
    <td><%= link_to 'Show', text %></td>
    <td><%= link_to 'Edit', edit_text_path(text) %></td>
    <td><%= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text', new_text_path %>
