<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @text.body %>
</p>

<p>
  <b>Pub date:</b>
  <%= @text.pub_date %>
</p>


<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
