<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Debates in the Digital Humanities</title>
		<!-- <meta name="description" content=""> -->
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<%= stylesheet_link_tag    "application", :media => "all" %>

	    <script type="text/javascript" src="//use.typekit.net/jlo5jay.js"></script>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37686216-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<script type="text/javascript">
		  $(function() {
        <% if current_user %>
        window.currentUser = {
          screenName: '<%= current_user.screen_name %>',
          id: <%= current_user.id %>,
          <% if current_user.admin %>
          admin: true
          <% else %>
          admin: false
          <% end %>
        }
        <% else %>
        window.currentUser = null
        <% end %>
		    window.router = new Didh.Routers.AppRouter({static: <%= @static %>, toc: <%= @toc %>, editions: <%= @editions.to_json.html_safe -%>, editionId: <%= @editionId %>, parts: <%= @parts.to_json.html_safe -%>, texts: <%= @texts.to_json({bootstrap: true}).html_safe -%>});
	  	    Backbone.history.start({pushState: true, root: "/debates/"})
		  });
		</script>

	</head>
	<body class="interior nav-open banner-open static-<%= @static %>">
		<div class="annotator" style="top: -1000px;" id="backbone-annotatorView" ></div>
		<div class="light">
			<%= render "shared/home_menu" %>
		</div>
		<%= params[:data] %>
		<div class="toc-container" data-tab-toggle>
			<ul class="toc-editions">
				<li>
					<img src="<%= image_path("2016bookcover-low.png") %>" alt="2016 book cover" class="" data-edition-toggle="<%= @editions.last.id %>" >
					<a href="/book">Details</a>
				</li>
				<li>
					<img src="<%= image_path("2012bookcover-low.png") %>" alt="2012 book cover" class="" data-edition-toggle="<%= @editions.first.id %>" >
					<a href="/book">Details</a>
				</li>
			</ul>
			<nav id="backbone-tocView" class="nav-toc"></nav>
		</div>
		<!-- <aside id="backbone-bannerView" class="page-banner"></aside> -->

		<!-- Instructional banner -->
		<aside id="backbone-bannerView" data-hide-instructions="<%= @hide_instructions %>" class="page-banner">
		</aside>

		<section class="interior-content">
			<article class="chapter">
				<%= yield %>
			</article>
		</section>
		<nav class="nav-content">
			<nav id="backbone-hudView-sidebar" class="nav-hud"></nav>
			<div class="nav-panes--toggle js-nav-toggle"></div>
			<ul id="backbone-feedbackView" class="nav-pane pane-top">
			</ul>
			<div id="backbone-commentsView" class="comment-drawer"></div>
		</nav>

		<!--[if lt IE 9]>
			<script src="Resources/Javascript/Libs/Selectivizr/selectivizr-min.js"></script>
		<![endif]-->

	</body>
</html>