<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Debates in the Digital Humanities</title>
		<!-- <meta name="description" content=""> -->
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<%= stylesheet_link_tag    "application", :media => "all" %>

  	    <script type="text/javascript" src="//use.typekit.net/jlo5jay.js"></script>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37686216-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script> 

	</head>
	<body class="home">
		<div class="home-wrapper">
			<header class="home-header">
				<h1 class="home-title">Debates in the Digital Humanities</h1>
				<h2 class="home-byline">Matthew K. Gold, Editor</h2>					
			</header>
			<section class="home-content">
				<%= yield %>
				<ul class="nav-primary">
					<%= render "shared/menu" %>
				</ul>
				<footer class="home-footer">
					<ul class="nav-footer">
						<li><a href="http://www.gc.cuny.edu/"><%= image_tag("logo-cuny.png") %></a></li>
						<li><a href="http://www.upress.umn.edu/"><%= image_tag("logo-umn.png") %></a></li>
						<li><a href="http://gcdi.commons.gc.cuny.edu/"><%= image_tag("logo-gcdi.png") %></a></li>
						<li><a href="http://gcdsl.commons.gc.cuny.edu/"><%= image_tag("logo-gcdsl.png") %></a></li>
					</ul>
				</footer>
			</section>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="Resources/Javascript/Libs/jQuery/jquery-1.8.2.min.js"><\/script>')</script>
		<script src="Resources/Javascript/Source/scripts.js"></script>
		<!--[if lt IE 9]>
			<script src="Resources/Javascript/Libs/Selectivizr/selectivizr-min.js"></script>
		<![endif]-->

	</body>
</html>