<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
		<title>Debates in the Digital Humanities</title>
		<!-- <meta name="description" content=""> -->
		<meta name="viewport" content="width=device-width">

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<script type="text/javascript" src="//use.typekit.net/jlo5jay.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
		<script type="text/javascript">
		  $(function() {
		    window.router = new Didh.Routers.AppRouter({parts: <%= @parts.to_json.html_safe -%>, texts: <%= @texts.to_json({bootstrap: true}).html_safe -%>});
		    Backbone.history.start();
		  });
		</script>

	</head>
	<body class="interior nav-open banner-open">
		<div class="annotator" style="top: -1000px;" id="backbone-annotatorView" ></div>
		<header class="page-header">
			<h1 class="interior-title"><a href="/">Debates in the Digital Humanities</a></h1>
			<ul class="nav-interior">
				<%= render "shared/menu" %>
			</ul>
		</header>
		<aside class="page-banner">
			<div class="legend">
				<a class="legend--toggle" href="#">Click to close</a>
				<h1 class="legend--title">A Note on Using This Site</h1>
				<p class="legend--description">You can select and mark passages to express interest to the community, or help tag sentences for our index. Passages marked as interesting will feature a blue line in the margin.</p>
				<aside class="legend--note">Tip: to turn off the visual feedback, click <%= image_tag("icon-legend.png", :width => 99) %> in the Feedback section for more options.</aside>
			</div>
			<nav class="nav-hud">
				
			</nav>
		</aside>
		<section class="interior-content">
			<article class="chapter">
				<%= yield %>
			</article>
		</section>
		<nav class="nav-content">
			<div class="nav-panes--toggle js-nav-toggle"></div>
			<ul id="backbone-feedbackView" class="nav-pane pane-top"></ul>
			<ul id="backbone-tocView" class="nav-pane pane-bottom reveal-level-0"></ul>
		</nav>

		<!--[if lt IE 9]>
			<script src="Resources/Javascript/Libs/Selectivizr/selectivizr-min.js"></script>
		<![endif]-->

	</body>
</html>